body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; /* Fondo negro */
    color: white; /* Texto blanco */
}

header {
    background: black; /* Fondo negro */
    color: white; /* Texto blanco */
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white; /* Enlaces blancos */
    text-decoration: none;
}

h2 {
    animation: slideIn 0.5s forwards;
    color: white; /* Títulos blancos */
}

img {
    width: 200px;
    height: auto;
    margin: 10px;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.slide-in-left {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideInLeft 0.5s forwards;
}

.slide-in-right {
    opacity: 0;
    transform: translateX(100px);
    animation: slideInRight 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideInLeft {
    from { transform: translateX(-100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInRight {
    from { transform: translateX(100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.section-footer {
    background: black; /* Fondo negro */
    color: white; /* Texto blanco */
    text-align: center; /* Alinear texto al centro */
    padding: 10px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
    border-top: 1px solid #ccc; /* Línea superior */
}